#fvtt-player-spotlight {
    & .spotlight-list {
        list-style: none;

        display: flex;
        flex-direction: row;

        justify-content: center;

        gap: 1em;
        padding: 1em;

        &>li {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* Show the count of spotlights for each player */
            &::after {
                display: block;
                content: "(" attr(data-spotlight-count) ")";
            }

            /* Hide the icon by default */
            &>*>i {
                display: none;
            }

            /* Show the icon if the data-spotlight-latest attribute is true */
            &[data-spotlight-latest=true]>*>i {
                display: inline-block;
            }
        }

        /* Queue sort mode: Sort by data-spotlight-count attribute, default to 0 */
        &[data-spotlight-sort=queue]>li {
            order: attr(data-spotlight-count number, 0);

            &[data-spotlight-latest=true] {
                /* Force last spotlighted to always be in the end */
                order: calc(attr(data-spotlight-count number, 0) + 99999);
            }
        }
    }
}